body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: #487458;
    background-color: #8fbf4d; /* Set to transparent or a specific color */
    font-size: 12px;
}

.container {
    background-image: url('thankyou.png'); /* Replace with your Canva background */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the background from repeating */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 300px;
    position: absolute; /* Position it relative to the container */
    bottom: 35px; /* Adjust this value to move it up or down */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */

}